
/* ---- reset ---- */

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  // ...
}

section.testimonials .button {
  margin-bottom: 10px;
}


body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}


/* Everything above is RESET code */
/* Everything above is RESET code */
/* Everything above is RESET code */

* {
  font-family: 'Montserrat', sans-serif;
}


.background-img {
  position: absolute;
  height: 330px;
  width: 100%;
  margin: 0 0 0 0 ;
  z-index: -1;
}

.phone-image {
  height: 65vh;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

.right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-top-container {
  align-content: center;
  padding-top: 10px;
}

.myButton {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:5px;
	border:1px solid #2f3c63;
  position: relative; 
  top: 15px;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;;
	font-size:18px;
	font-weight:bold;
	padding:7px 10px 7px 10px;
	text-decoration:none;
  text-shadow:0px 1px 0px #040405;
  float: right;
}

.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.right-middle-container {
  background-image: url(/images/frame.png);
  background-size: 102%;
  background-repeat: no-repeat; 
  background-position-x: -6px;
  background-position-y: -5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px 40px 25px 40px;
  margin-bottom: 30px;
  border: 0px white solid;
  border-radius: 10px;

}

.right-middle-container h1 {
  color: #3e4d7a;
  font-weight: bold;
}

.right-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding-left: 40px;
  padding-right: 115px;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 175px;
  font-size: 13px;
}

footer li {
  margin: 10px;
  font-weight: bold;
  color: #476e9e;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.footer-gray {
  color: rgb(185, 185, 185);
}